<h1 class="titulo">Lista de Productos</h1>
<hr>
    <ul>
        {{#each products}}
        <li>{{this.title}} - ${{this.price}}</li>
        {{/each}}
    </ul>
<br>    
{{#if hasPrevPage}}
    <a href="/home/?page={{prevPage}}">Prev.P치g.</a>
{{else}}
    <a href="/home/?page={{prevPage}}" class="disabled">Prev.P치g.</a>
{{/if}}
<h3>{{page}}</h3>
{{#if hasNextPage}}
    <a href="/home/?page={{nextPage}}">Next.P치g.</a>
{{else}}
    <a href="/home/?page={{nextPage}}" class="disabled">Next.P치g.</a>
{{/if}}