<div class="productCard">
    <h1>{{producto.title}}</h1>
    <p>{{producto.description}}</p>
    <div class="datosProducto">
        <h3>Precio: {{producto.price}}</h3>
        <h3>Stock: {{producto.stock}}</h3>
        <h3>Categoria: {{producto.category}}</h3>
    </div>
    <a class="botonCarrito">Agregar al carrito</a>
</div>
<a href="/home" class="botonHome">Volver atras</a>